<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PhanMemNoiSoi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhanMemNoiSoi.Properties.Settings>
            <setting name="lastUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="dbType" serializeAs="String">
                <value>local</value>
            </setting>
            <setting name="captureType" serializeAs="String">
                <value>capture_only</value>
            </setting>
            <setting name="imageQuality" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="imageFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultImgFolder" serializeAs="String">
                <value>D:\\QLKB</value>
            </setting>
            <setting name="rememberAccount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vDeviceIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vFrameSizeX" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="vFrameSizeY" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="vFrameRate" serializeAs="String">
                <value>29.997</value>
            </setting>
            <setting name="vCompressIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vSourceIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="serverName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>QuangHuyMedical</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value />
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="lastUserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastUserType" serializeAs="String">
                <value>Doctor</value>
            </setting>
            <setting name="softwareLicense" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="img2Width" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="img2Height" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="img4Width" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="img4Heigh" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="maxDayLog" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="maxRowDisplay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="datetimeFormat" serializeAs="String">
                <value>0</value>
            </setting>
        </PhanMemNoiSoi.Properties.Settings>
    </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
